div.home-blurb-container {
  background-color: #04221D;
  text-align: center;
  padding-top: 25%;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

div.home-guarda-records {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #FFF;
  font-size: 2.4em;
}

div.home-guarda-blurb {
  color: #FFF;
  font-size: 2em;
}

div.home-guarda-social {
  margin-top: 15px;
}

@media only screen and (max-width : 768px) {

  div.home-blurb-container {
    padding-top: 16%;
  }
}
